.navbar-background{
    background: rgba(118, 117, 117, 0.8) !important;
}

.navbar-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.dashboard-color{
    background-color: rgb(233, 231, 231);
    height: 70vh;
}

.margin-top{
    margin-top: 10vh;
}

body{
    background-image: url(/images/demo/gallery/management.jpg);
}